
body {
  background: linear-gradient(to right, #434343 0%, black 100%);
}



.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 10px 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.search-form {
  display: flex;
  align-items: center;
}
.search-form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}
.search-form button {
  padding: 10px;
  background-color: #ddd; 
  color: black; 
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.search-form button:hover {
  background-color: #ccc;
}



.container {
  min-height: 60vh; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
  margin: 20px;
}


.square {
  width: calc(50% - 10px);
  height: calc(60vh - 50px); 
  box-sizing: border-box;
}

.rectangle {
 
  width: 1880px; 
  height: 300px; 
  background-color: #11f009; 
  margin-top: 10px; 
  margin-left: 0px ;
 
}

.container .square:first-child img {
  width: 400px; 
  height: 400px;
  object-fit: cover;
  display: block; 
  margin: auto; 
  position: relative; 
  top: 50%;
  transform: translateY(-50%); 
}

.rectangle {
  background-color: #31da10 #222222; 
  color: #393b3d; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-top: 10px;
  margin-bottom: 20px; 
  border: 2px solid #cccccc; 
}

.rectangle h2, .rectangle h3 {
  color: #222222; 
}

.rectangle ul {
  padding-left: 20px; 
}

.rectangle li {
  margin-bottom: 10px; 
}

.rectangle p, .rectangle li {
  line-height: 1.6; 
}

.rectangle a {
  color: #007bff; 
  text-decoration: none; 
}

.rectangle a:hover {
  text-decoration: underline; 
}




